
$border-radius: 10px;
$main-color-text: #444;

$color-white: #fff;
$color-black: #000;

$button-box-shadow-color: #000;
$showimage-btn-color: seagreen;

$animated-btn-color-white: #fff;


$block: #cecece;