@use './variables' as *;

.main-cgb {
  position: fixed;
  top: 20px;
  right: 20px;
}

.mainButtons {
  height: 0;
}

.buttonsBlock {
  width: 400px;
  padding: 10px;
  margin-top: 20px;
  background: -webkit-linear-gradient(156deg, #ffffff, #fef4f0, #fde9e1, #fbd2c3);
  background: linear-gradient(156deg, #ffffff, #fef4f0, #fde9e1, #fbd2c3);
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000;
  position: relative;
  right: -999px;
  transition: right 0.4s ease;

  &.active {
    right: 10px;
  }

  &__title {
    margin-bottom: 15px;
    margin-top: 10px;
    color: $main-color-text;
  }

  &__container {
    width: 100%;
    height: 100%;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
}

.logo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.wrapper__logo {
  width: 100px;
  opacity: 0.8;
  cursor: pointer;
}

.animated-button {
  position: relative;
  display: inline-block;
  padding: 12px 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: $animated-btn-color-white;
  text-align: center;
  text-decoration: none;
  border-radius: $border-radius;
  overflow: hidden;
  border: none;
  z-index: 1;
  transition: all 0.5s ease-out;
  cursor: pointer;

  &.addContext {
    background: #2a9d8f;
    border: 2px solid #2a9d8f;
  }

  &.fulfill {
    background: #e76f51;
    border: 2px solid #e76f51;
  }

  &.update {
    background: #414167;
    border: 2px solid #414167;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: $animated-btn-color-white;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s ease-out;
  }

  &:hover {
    background-color: $animated-btn-color-white;
    color: #202960;

    &:before {
      width: 300px;
      height: 300px;
      opacity: 0.4;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: #255ea4;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: -2;
      animation: pulse 2s infinite;
    }
  }
}

@keyframes pulse {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }

  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

//Context
.context {
  width: 400px;
  height: 400px;
  background: #cecece;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//Close Button
.close__wrapper {
  display: flex;
  justify-content: space-between;
}

.buttonsBlock__close {
  position: relative;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: rgba(180, 83, 107, 0.11);
  border-radius: 5px;
  transition: background 0.5s;
  cursor: pointer;

  .X {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
  }

  .Y {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
  }

  &:hover {
    background-color: rgb(211, 21, 21);
  }
  &:active {
    background-color: rgb(130, 0, 0);
  }
}

//Style button if loading
.loaderWrapper {
  display: flex;
  align-items: center;
}

.loaderClass {
  padding: 0px 10px;
  font-size: 12px;
  font-weight: bold;
  color: $animated-btn-color-white;
  text-align: center;
  text-decoration: none;
  border-radius: $border-radius;
  pointer-events: none;
  border: none;

  &.addContext {
    background: #2a9d8f;
    border: 2px solid #2a9d8f;
  }

  &.fulfill {
    background: #e76f51;
    border: 2px solid #e76f51;
  }

  &.update {
    background: #8e7cc3;
    border: 2px solid #8e7cc3;
  }
}

// Main buttons for page
.showImageBtn {
  border: none;
  background-color: $showimage-btn-color;
  color: $color-white;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 25px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba($button-box-shadow-color, 0.15);
  cursor: pointer;
  transform: translate(1) translate(0, 0);
  transition:
    transform 225ms,
    box-shadow 225ms;
  &:hover {
    transform: scale(1.05) translate(0, -0.15rem);
    box-shadow: 0 0.5rem 1rem rgba($button-box-shadow-color, 0.35);
  }
  &:active {
    transform: scale(1) translate(0, 0.15rem);
    box-shadow: 0 0.5rem 1rem rgba($button-box-shadow-color, 0.15);
  }
}

.openButton {
  position: relative;
  padding: 14px 25px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  background-color: $color-white;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 10px rgba($button-box-shadow-color, 0.1);
  cursor: pointer;

  &.hide {
    opacity: 0;
  }

  &:hover {
    transform: scale(1);
    color: $color-white;
    box-shadow: 0 10px 10px rgba($button-box-shadow-color, 0.2);
  }

  &.active {
    transform: scale(0.9);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #007bff, #00bfff);
    transition: all 0.4s ease-in-out;
    z-index: -1;
    border-radius: 10px;
  }

  &:hover:before {
    left: 0;
  }
}

//Custom modal

.fileName {
  font-size: 20px;
}

.custum-file-upload {
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

//Style for choose btn

.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color: #414167;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.folderContainer {
  width: 25px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}
.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}
.Documents-btn:hover {
  background-color: rgb(58, 58, 94);
}
.Documents-btn:active {
  transform: scale(0.95);
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}

//Choose btn for zip
.zipInput {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(45deg, #3e3679, #5c52a2, #7a6fd1);
  box-shadow: 0 0 24px rgba(92, 82, 162, 0.5);
  border: 2px solid #7a6fd1;
  border-radius: $border-radius;
  transition:
    background 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out,
    text-shadow 0.5s ease-in-out;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;

  input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &:hover {
    background: linear-gradient(45deg, #6e63c4, #5c52a2, #4b438c);
    box-shadow: 0 0 34px rgba(92, 82, 162, 0.7);
    text-shadow: 0 0 4px #d6d0ff;
    border-color: #7a6fd1;
  }

  span {
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    cursor: pointer;
  }
}

.icon {
  margin-right: 5px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.input {
  margin-top: 15px;
  &__title {
    color: $main-color-text;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actOrDeact {
    max-width: 130px;
    padding: 7px 20px;
    font-size: 16px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;

    &:hover {
      box-shadow: 0px 0px 20px -17px;
    }

    &:active {
       transform: scale(0.85);
    }

    &:focus {
      border: 2px solid grey;
    }
  }

  &__span {
    font-size: 20px;
  }
}

